{% load static %}

<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Team Generator</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/pages/choose_sports.css' %}">
</head>
<body>
    <div class="background-pattern"></div>

    <div class="container">
        <div class="card">
            <div class="header">
                <h2>Odaberi svoj sport</h2>
                <hr class="divider" />
                <p class="subtitle">Izaberi sport za koji želiš generirati tim i kreni u akciju!</p>
            </div>             
                <div class="form-group">

                    <form method="post">
                    {% csrf_token %}

                    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'pages:football_formats' %}">Football</a>
                    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'pages:basketball_formats' %}">Basketball</a>
                    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'pages:tennis_formats' %}">Tennis</a>
                    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'pages:handball_formats' %}">Handball</a>
                    <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'pages:volleyball_formats' %}">Volleyball</a>

                    </select>
                </div>
            </form>
        </div>
    </div>
</body>
</html>