{% load static %}
 
{% block css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock css %}
 
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sports We Support</h2>
            <h3 class="section-subheading text-muted">Choose from our wide range of supported sports.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">

                <!-- Portfolio item 1 - Football -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/soccer.jpg' %}" alt="Football" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> Football</div>
                        <div class="portfolio-caption-subheading text-muted">5+1, 4+1, 10+1 Formations</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">

                <!-- Portfolio item 2 - Basketball -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/basketball.jpg' %}" alt="Basketball" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> Basketball</div>
                        <div class="portfolio-caption-subheading text-muted">6v6, 3v3 Formats</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">

                <!-- Portfolio item 3 - Tennis -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/tennis.jpg' %}" alt="Tennis" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> Tennis</div>
                        <div class="portfolio-caption-subheading text-muted">Singles, Doubles</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">

                <!-- Portfolio item 4 - Volleyball -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/volleyball.jpg' %}" alt="Volleyball" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> Volleyball</div>
                        <div class="portfolio-caption-subheading text-muted">6v6, 4v4, 2v2 Beach</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">

                <!-- Portfolio item 5 - Handball -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/handball.jpg' %}" alt="Handball" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> Handball</div>
                        <div class="portfolio-caption-subheading text-muted">6+1, 4+1 Formations</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">

                <!-- Portfolio item 6 - Coming Soon -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/padel.jpg' %}" alt="More Sports" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading"> More Sports</div>
                        <div class="portfolio-caption-subheading text-muted">Coming Soon</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

